    <div class="container" id="home-container">
      <div class="bg-light p-5 rounded-lg m-3 text-center" id="home-splash">
        <h1 class="display-4">Alpha-Blog</h1>
        <p class="lead">Rails course exercise</p>
        <hr class="my-4">
        <p>Create, Read, Update and Delete articles</p>
        <a class="btn btn-success btn-lg" href="articles" role="button">Get started</a>
      </div>
    </div>
    <p>
