    <div id="page-content">
      <div class="container">
        <% flash.each do |key, msg| %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= msg %>
            <button class="btn-close" data-bs-dismiss="alert">
            </button>
          </div>
        <% end %>
      </div>
    </div>